<ul>
  <li>
    <% leaf = branches.pop %>
    <% if @symbol == leaf %>
      <%= leaf.name %>
    <% else %>
      <%= link_to_symbol(leaf.alias, leaf.name) %>
    <% end %>
    <% if branches.size > 0 %>
      <%= render :partial => 'inheritance_tree_branch', :locals => {:branches => branches} %>
    <% end %>
  </li>
</ul>
