<header>
  <h1>Welcome</h1>
</header>
<p>This is the default welcome page for jsdoc-rails.</p>
<p>To replace this message you should create your own view in <i>app/views/jsdoc/documentation/index.html.erb</i></p>

<aside>
  <h2>Symbol list</h2>
  <p>This is the list of classes that were documented.</p>
  <%= full_class_list %>
</aside>


