<div id="welcome">
  <header>
    <h1>Select Documentation</h1>
  </header>
  <p>Select the API Documentation you want to view.</p>
  <% @projects.each do |project| %>
    <ul>
      <li><%= project.name %>
        <ul>
          <% project.versions.each do |version| %>
            <li><%= link_to(version.version_number, project_welcome_path(project.slug, version.version_number)) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
