<nav class="toolbar">
  <ul>
    <li><%= link_to('Raw Source File', jsdoc_raw_source_path(@filename), :onclick => 'window.open(this.href);return false') %></li>
  </ul>
</nav>
<div id="source">
  <header>
    <h1>Source for: <%= @filename %></h1>
  </header>
  <pre><code><%= @source_code %></code></pre>
</div>
