$('#wrapper').addClass('has_toolbar')
$('#wrapper').html( '<nav class="toolbar"><%= escape_javascript(render('jsdoc/documentation/source_toolbar')) %></nav>'
                  + '<div id="content"><%= escape_javascript(render('jsdoc/documentation/source')) %></div>'
                  )
document.title = "<%= escape_javascript("#{@filename} - Source - #{@project.name} (#{@version.version_number})") %>"
