$('#wrapper').addClass('has_toolbar')
$('#wrapper').html( '<div class="toolbar"><%= escape_javascript(render('jsdoc/documentation/symbol_toolbar')) %></div>'
                  + '<div id="content"><%= escape_javascript(render('jsdoc/documentation/symbol')) %></div>'
                  )

document.title = "<%= escape_javascript("#{@symbol.alias} - #{@project.name} (#{@version.version_number}) - API Documentation") %>"
