<% cache "aside" do %>
<div class="toolbar">
  <form>
    <input id="find_class" name="find_class" type="search" placeholder="Find a Class" autosave="find_class" results="5">
  </form>
</div>
<nav id="class_tree">
  <ul class="tree">
    <li<%= raw(' class="current"') if params[:action] == 'index' %>><%= link_to('API Documentation', welcome_path) %><ul>
        <%= render :partial => 'layouts/jsdoc/symbol_tree_branch', :collection => @root_symbols, :as => :symbol %>
    </ul></li> 
  </ul>
</nav>
<% end %>
