<div class="toolbar">
  <form>
    <input name="find_class" type="search" placeholder="Find a Class" autosave="find_class" results="5">
  </form>
</div>
<nav>
  <ul class="tree">
    <li><%= link_to('API Documentation', root_path) %><ul>
        <%= render :partial => 'layouts/jsdoc/symbol_tree_branch', :collection => Jsdoc::Symbol.where(:member_of => nil), :as => :symbol %>
    </ul></li> 
  </ul>
</nav>
