/**
 * Make block level HTML5 elemnts act like blocks in old browsers
 */
article, aside, footer, header, hgroup, nav, section {
  display: block;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    padding: 20px;
    background: #EDEDED;
    color: #222;
}

body > header {
    background: transparent url(../images/cocos2d-icon.png) no-repeat left center;
    height: 60px;
    line-height: 80px;
    margin: -10px 0 10px 0;
    text-shadow: 0 2px 0 #fff;
}
body > footer {
    margin-left: 242px;
    font-size: 0.8em;
    color: #999;
    text-align: right;
}
body > footer a {
    color: #999;
    text-decoration: underline;
}
body > footer a:hover {
    color: #000;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
    font-family: Trebuchet, "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, helvetica, arial, sans-serif;
}

body > aside,
#wrapper,
#inheritance_tree,
table {
    border-radius: 5px;
    -moz-border-radius: 5px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
}
.toolbar,
thead tr {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(227,227,227)),
    color-stop(0.49, rgb(237,237,237)),
    color-stop(0.5, rgb(244,244,244)),
    color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(227,227,227) 0%,
    rgb(237,237,237) 49%,
    rgb(244,244,244) 50%,
    rgb(255,255,255) 100%
  );
}

body > header h1 {
    margin: 0;
}

body > aside {
    position: fixed;
    left: 20px;
    top: 80px;
    bottom: 20px;

    font-size: 0.85em;
    width: 220px;
    background: #fff;
}

body > aside > .toolbar input {
    background: #fafafa;
    margin: 0;
    border: 1px solid #C1C1C1;
    height: 16px;
    width: 206px;
    outline: none;
    padding: 3px 3px 0 3px;

    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;

    /* Force square edges */
    -webkit-box-sizing: content-box;
    -webkit-appearance: textfield;
}
body > aside > .toolbar input:focus {
    background: #fff;
    border: 1px solid #666;
}
body > aside > nav {
    padding: 2px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

body > aside ul,
body > aside li {
    padding: 0;
    margin: 0;
    list-style: none;
}
body > aside li {
    margin-bottom: 1px;
}
body > aside li > a {
    display: block;
    line-height: 1.75em;
    color: #000;
    border: 1px solid #fff;
}
body > aside li.current > a,
body > aside li.current > a:hover {
    border: 1px dotted #A3BAE9;
    background-color: #DFE8F6;
}
body > aside li > a::before {
    content: '';
    display: block;
    float: left;
    width: 24px;
    height: 1.75em;
    background-position: 3px top;
    background-repeat: no-repeat;
    background-image: url(../../images/jsdoc/icons/docs.gif);
}
body > aside li li > a::before {
    width: 36px;
    background-position: 0px top, 18px center;
    background-repeat: no-repeat;
    background-image: url(../../images/jsdoc/icons/elbow.gif), url(../../images/jsdoc/icons/docs.gif);
}
body > aside li:last-child > a::before {
    background-image: url(../../images/jsdoc/icons/elbow-end.gif), url(../../images/jsdoc/icons/docs.gif);  
}
body > aside li.class > a::before {
    background-image: url(../../images/jsdoc/icons/elbow.gif), url(../../images/jsdoc/icons/class.gif);
}
body > aside li.class:last-child > a::before {
    background-image: url(../../images/jsdoc/icons/elbow-end.gif), url(../../images/jsdoc/icons/class.gif);
}
body > aside li.namespace > a::before {
    background-image: url(../../images/jsdoc/icons/elbow.gif), url(../../images/jsdoc/icons/pkg.gif);
}
body > aside li.namespace:last-child > a::before {
    background-image: url(../../images/jsdoc/icons/elbow-end.gif), url(../../images/jsdoc/icons/pkg.gif);
}
body > aside li a:hover {
    background-color: #eee;
    border: 1px solid #eee;
}
body > aside li li a {
    padding-left: 3px;
}
body > aside li li li a {
    padding-left: 20px;
}
body > aside li li li li a {
    padding-left: 40px;
}
body > aside li li li li li a {
    padding-left: 60px;
}
body > aside li li li li li li a {
    padding-left: 80px;
}
body > aside li li li li li li li a {
    padding-left: 100px;
}
body > aside li li li li li li li li a {
    padding-left: 120px;
}
body > aside li li li li li li li li li a {
    padding-left: 140px;
}
body > aside li li li li li li li li li li a {
    padding-left: 160px;
}

th:first-child {
  border-radius: 5px 0 0 0;
}
th:last-child {
  border-radius: 0 5px 0 0;
}

tbody tr {
    border-bottom: 1px solid #D9D9D9;
}
tbody tr:nth-child(even) {
    background: rgb(234,234,234);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(243,243,243)),
        color-stop(1, rgb(234,234,234))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(243,243,243) 0%,
        rgb(234,234,234) 100%
    );
}

th,
td {
    padding: 4px 7px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table th {
    font-weight: bold;
    text-align: left;
}
table td {
    vertical-align: top;
}
table td:last-child { 
    border-left: none;
}
table td:nth-last-child(2) { 
    border-right: none;
}
table tr:target td {
    background: #ffd;
}

aside + #wrapper {
    margin-left: 242px;
}
#wrapper {
    background: #fff;
}
#wrapper h1 {
    margin-top: 0;
}

.toolbar {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #D0D0D0;
    padding: 2px 3px;
    min-height: 22px;
    text-align: right;
}
.toolbar ul,
.toolbar li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
}
.toolbar li {
    padding: 0 5px;
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #fff;
}
.toolbar li:first-child {
    border-left: none;
}
.toolbar li:last-child {
    border-right: none;
}
.toolbar li a {
    display: inline-block;
    border: 1px solid transparent;
    color: #000;
    font-size: 0.85em;
    padding: 3px 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
.toolbar li a:hover {
    text-decoration: none;
    border-color: #9e9e9e #7d7d7d #7d7d7d #9e9e9e;
    background: #f7f7f7;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(233,233,233)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(233,233,233) 50%,
        rgb(255,255,255) 100%
    );
}

.toolbar li a:active {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(221,221,221)),
        color-stop(1, rgb(206,206,206))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(221,221,221) 25%,
        rgb(206,206,206) 100%
    );
}

#content {
    padding: 20px;
}

#symbol h1 {
    font-size: 1.5em;
}
#symbol h2 {
    font-size: 1.25em;
}
#symbol a {
    color: #083772;
}
#symbol a:hover {
    color: #00C;
}
#symbol > header dl {
    overflow: hidden;
    line-height: 1.75em;
}
#symbol > header dt {
    font-weight: bold;
    float: left;
    clear: left;
    width: 8em;
}
#symbol > header dd {
    float: left;
    margin: 0;
}
#symbol > header dd.subclasses::after {
    content: ',';
    padding-right: .5em;
}
#symbol > header dd.subclasses.last::after {
    content: '';
    padding-right: 0;
}
#symbol > header dt::after {
    content: ':';
}
#symbol > header {
    border-bottom: 1px solid #ccc;
}

#inheritance_tree {
    margin: 5px;
    float: right;
    background: #F5F5F5;
    border-radius: 8px;
    -moz-border-radius: 8px;
    line-height: 1.5em;

    background: rgb(234,234,234);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(243,243,243)),
        color-stop(1, rgb(234,234,234))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(243,243,243) 0%,
        rgb(234,234,234) 100%
    );
}
#inheritance_tree ul, 
#inheritance_tree li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#inheritance_tree li li {
    padding-left: 20px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(../../images/jsdoc/icons/elbow-end.gif);
}
#inheritance_tree > ul {
    padding: 5px;
    border-top: 1px solid #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

#symbol_description {
    margin-bottom: 5px;
}
table.members th.defined_by {
    width: 15%;
}
table.members tr.borrowed td:last-child a {
    padding-left: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../../images/jsdoc/icons/inherited.gif);
}
table.members a.member_link {
    font-weight: bold;
}
table.members .param_name {
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    font-size: 0.9em;
}
table.members .description {
    margin-top: 5px;
}

table.members .flag {
    color: #aaa;
    font-style: italic;
}


.toolbar li a[href$="_properties"]::before,
.toolbar li a[href$="_methods"]::before,
.toolbar li a[href$="_events"]::before {
    content: '';
    display: block;
    float: left;
    width: 20px;
    height: 14px;
    margin-left: -2px;
    background-position: 0 center;
    background-repeat: no-repeat;
}
.toolbar li a[href$="_properties"]::before {
    background-image: url(../../images/jsdoc/icons/prop.gif);
}
.toolbar li a[href$="_methods"]::before {
    background-image: url(../../images/jsdoc/icons/method.gif);
}
.toolbar li a[href$="_events"]::before {
    background-image: url(../../images/jsdoc/icons/event.gif);
}

#source pre {
    margin: 0;
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    font-size: 1.1em;
}
