$toolbar-height: 20px;
$toolbar-vpadding: 3px;
$toolbar-hpadding: 3px;
$toolbar-item-pad: 5px;

/**
 * Make block level HTML5 elemnts act like blocks in old browsers
 */
article, aside, footer, header, hgroup, nav, section {
  display: block;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 0.8em;
    padding: 14px;
    background: #EDEDED;
    color: #222;
    overflow: hidden;
}

body > header {
    height: 60px;
    line-height: 80px;
    margin: -10px 0 10px 0;
    text-shadow: 0 2px 0 #fff;
}
body > footer {
    margin-left: 242px;
    font-size: 0.8em;
    color: #999;
    text-align: right;
    position: absolute;
    top: 0;
    right: 15px;
}
body > footer a {
    color: #999;
    text-decoration: underline;
}
body > footer a:hover {
    color: #000;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5 {
    font-family: Trebuchet, "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, helvetica, arial, sans-serif;
}

a.symbol {
    font-family: "Menlo", "Lucida Console", "Courier New", Courier, monospace;
    font-size: 0.9em;
}

body > aside,
#wrapper,
#inheritance_tree,
table {
    border-radius: 5px;
    -moz-border-radius: 5px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.45) 0 1px 3px, rgba(0, 0, 0, 0.8) 0 0 1px;
}
.toolbar,
thead tr {
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(227,227,227)),
    color-stop(0.49, rgb(237,237,237)),
    color-stop(0.5, rgb(244,244,244)),
    color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(227,227,227) 0%,
    rgb(237,237,237) 49%,
    rgb(244,244,244) 50%,
    rgb(255,255,255) 100%
  );
}

body > header h1 {
    margin: 0;
}

body > aside {
    position: fixed;
    left: 14px;
    top: 70px;
    bottom: 14px;

    font-size: 0.85em;
    width: 230px;
    background: #fff;
}

body > aside > .toolbar input {
    background: #fafafa;
    margin: 0;
    border: 1px solid #C1C1C1;
    height: 16px;
    width: 216px;
    outline: none;
    padding: 3px 3px 0 3px;

    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;

    /* Force square edges */
    -webkit-box-sizing: content-box;
    -webkit-appearance: textfield;
}
body > aside > .toolbar input:focus {
    background: #fff;
    border: 1px solid #666;
}
body > aside > nav {
    padding: 2px;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

body > aside ul,
body > aside li {
    padding: 0;
    margin: 0;
    list-style: none;
}
body > aside li {
    margin-bottom: 1px;
}
body > aside li > a {
    display: block;
    line-height: 1.75em;
    color: #000;
    border: 1px solid #fff;
}
body > aside li.current > a,
body > aside li.current > a:hover {
    border: 1px dotted #A3BAE9;
    background-color: #DFE8F6;
}
body > aside li > a::before {
    content: '';
    display: block;
    float: left;
    width: 24px;
    height: 1.75em;
    background-position: 3px top;
    background-repeat: no-repeat;
    background-image: url(/assets/jsdoc/icons/docs.gif);
}
body > aside li li > a::before {
    width: 36px;
    background-position: 0px top, 18px center;
    background-repeat: no-repeat;
    background-image: none, url(/assets/jsdoc/icons/docs.gif);
}
body > aside li li > a.expanded::before {
    background-image: url(/assets/jsdoc/icons/elbow-minus.gif), url(/assets/jsdoc/icons/docs.gif);
}
body > aside li li > a.collasped::before {
    background-image: url(/assets/jsdoc/icons/elbow-plus.gif), url(/assets/jsdoc/icons/docs.gif);
}
body > aside li.class > a::before {
    background-image: none, url(/assets/jsdoc/icons/class.gif);
}
body > aside li.class:last-child > a::before {
}
body > aside li.namespace > a::before {
    background-image: none, url(/assets/jsdoc/icons/pkg.gif);
}
body > aside li.namespace > a.expanded::before {
    background-image: url(/assets/jsdoc/icons/elbow-minus.gif), url(/assets/jsdoc/icons/pkg.gif);
}
body > aside li.namespace > a.collapsed::before {
    background-image: url(/assets/jsdoc/icons/elbow-plus.gif), url(/assets/jsdoc/icons/pkg.gif);
}
body > aside li.namespace:last-child > a::before {
}
body > aside li a:hover {
    background-color: #eee;
    border: 1px solid #eee;
}
body > aside li li a {
    padding-left: 3px;
}
body > aside li li li a {
    padding-left: 20px;
}
body > aside li li li li a {
    padding-left: 40px;
}
body > aside li li li li li a {
    padding-left: 60px;
}
body > aside li li li li li li a {
    padding-left: 80px;
}
body > aside li li li li li li li a {
    padding-left: 100px;
}
body > aside li li li li li li li li a {
    padding-left: 120px;
}
body > aside li li li li li li li li li a {
    padding-left: 140px;
}
body > aside li li li li li li li li li li a {
    padding-left: 160px;
}

th:first-child {
  border-radius: 5px 0 0 0;
}
th:last-child {
  border-radius: 0 5px 0 0;
}

tbody tr {
    border-bottom: 1px solid #D9D9D9;
}
tbody tr:nth-child(even) {
    background: rgb(234,234,234);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(243,243,243)),
        color-stop(1, rgb(234,234,234))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(243,243,243) 0%,
        rgb(234,234,234) 100%
    );
}

th,
td {
    padding: 4px 7px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table th {
    font-weight: bold;
    text-align: left;
}
table td {
    vertical-align: top;
}
table td:last-child { 
    border-left: none;
}
table td:nth-last-child(2) { 
    border-right: none;
}
table tr:target td {
    background: transparent;
}
table tr:target {
    background: #ffd;
}


aside + #wrapper {
    left: 261px;
}
#wrapper {
    background: #fff;
    position: absolute;
    left: 14px;
    right: 14px;
    top: 70px;
    bottom: 14px;
}

#wrapper h1 {
    margin-top: 0;
}

.toolbar {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #D0D0D0;
    padding: $toolbar-vpadding $toolbar-hpadding;
    height: $toolbar-height;
}
.toolbar > ul,
.toolbar > ul > li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: bottom;
}
.toolbar > ul > li {
    padding: 0 $toolbar-item-pad;
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #fff;
}
.toolbar > ul >  li:first-child {
    border-left: none;
}
.toolbar > ul >  li:last-child {
    border-right: none;
}
.toolbar > ul >  li > a {
    display: inline-block;
    border: 1px solid transparent;
    color: #000;
    font-size: 0.85em;
    padding: 3px 6px;

    $height: $toolbar-height - 8px; // minus padding and border
    height: $height;
    line-height: $height - 1px;

    border-radius: 4px;
    -moz-border-radius: 4px;
}
.toolbar > ul >  li > a.hover,
.toolbar > ul >  li > a:hover {
    text-decoration: none;
    border-color: #9e9e9e #7d7d7d #7d7d7d #9e9e9e;
    background: #f7f7f7;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.5, rgb(233,233,233)),
        color-stop(1, rgb(255,255,255))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(233,233,233) 50%,
        rgb(255,255,255) 100%
    );
}
.toolbar li a:active {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(221,221,221)),
        color-stop(1, rgb(206,206,206))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(221,221,221) 25%,
        rgb(206,206,206) 100%
    );
}

// Toolbar popup menus
.toolbar > ul > li {
    position: relative;
}
.toolbar > ul > li > a + ul {
    display: none;
}
.toolbar > ul > li > a + ul {
    position: absolute;
    z-index: 500;
    left: $toolbar-item-pad;
    top: $toolbar-height;

    min-width: 7em;
    max-height: 400px;
    overflow: auto;

    padding: 2px;

    opacity: 0.95;
    background: rgb(233,233,233);
    border: 1px solid;
    border-color: #9e9e9e #7d7d7d #7d7d7d #9e9e9e;

    border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}
.toolbar > ul > li > a + ul > li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.toolbar > ul > li > a + ul > li > a {
    display: block;
    border: 1px solid transparent;
    color: #333;
    font-size: 0.85em;
    padding: 3px 6px;
    text-decoration: none;
}
.toolbar > ul > li > a + ul > li > a:hover {
    border: 1px dotted #999;
    background: #ccc;
    color: #000;
}


#content {
    padding: 14px;
    position: absolute;
    top: $toolbar-height + ($toolbar-vpadding * 2) + 2; // +2 for border
    bottom: 0;
    right: 0;
    left: 0;
    overflow: auto;
}
#wrapper.loading::before {
    content: '';
    background-image: url(/assets/jsdoc/icons/spinner.gif);
    background-position: center center;
    width: 28px;
    height: 28px;
    position: fixed;
    left: 50%;
    top: 50%;
    /* half 261px left margin - half image size (14)*/
    margin: 32px 0 0 116px;
}
#wrapper.loading #content {
    opacity: 0.25;
}


#symbol h1 {
    font-size: 1.5em;
}
#symbol h2 {
    font-size: 1.25em;
}
#symbol a {
    color: #083772;
}
#symbol a:hover {
    color: #00C;
}
#symbol > header dl {
    overflow: hidden;
    line-height: 1.75em;
}
#symbol > header dt {
    font-weight: bold;
    float: left;
    clear: left;
    width: 8em;
}
#symbol > header dd {
    float: left;
    margin: 0;
}
#symbol > header dd.subclasses::after {
    content: ',';
    padding-right: .5em;
}
#symbol > header dd.subclasses.last::after {
    content: '';
    padding-right: 0;
}
#symbol > header dt::after {
    content: ':';
}
#symbol > header {
    border-bottom: 1px solid #ccc;
}

#inheritance_tree {
    margin: 5px;
    float: right;
    background: #F5F5F5;
    border-radius: 8px;
    -moz-border-radius: 8px;
    line-height: 1.5em;

    background: rgb(234,234,234);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(243,243,243)),
        color-stop(1, rgb(234,234,234))
    );
    background: -moz-linear-gradient(
        center top,
        rgb(243,243,243) 0%,
        rgb(234,234,234) 100%
    );
}
#inheritance_tree ul, 
#inheritance_tree li {
    padding: 0;
    margin: 0;
    list-style: none;
}
#inheritance_tree li li {
    padding-left: 20px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url(/assets/jsdoc/icons/elbow-end.gif);
}
#inheritance_tree > ul {
    padding: 5px;
    border-top: 1px solid #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
}

#symbol_description {
    margin-bottom: 5px;
}
table.members th.defined_by {
    width: 15%;
}
table.members tr.borrowed td:last-child a {
    padding-left: 16px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(/assets/jsdoc/icons/inherited.gif);
}
table.members a.member_link {
    font-weight: bold;
}
table.members .param_name {
}
table.members .description {
    margin-top: 5px;
}

table.members .flags {
    margin-left: 1em;
    color: #aaa;
    font-style: italic;
}
table.members .flag {
}
table.members .construct {
    font-weight: bold;
    color: #777;
}
table.members .method_params {
    color: #777;
}
table.members .method_params .option_open,
table.members .method_params .option_close {
    color: #000;
    font-weight: bold;
}
table.members .method_params .param_list {
    margin-right: .5em;
}
table.members .method_params .param {
    margin-left: .5em;
}
table.members .method_params .param_name {
}
table.members .method_params .options .param_name {
    color: #000;
}
table.members .method_params .param_type {
    margin-left: .5em;
    font-size: 0.9em;
    font-family: "Menlo", "Lucida Console", "Courier New", Courier, monospace;
    color: #000;
}
table.members .return_type {
    font-size: 0.9em;
    font-family: "Menlo", "Lucida Console", "Courier New", Courier, monospace;
}
table.members .return_type a.symbol,
table.members .method_params .param_type a.symbol {
    font-size: 1em;
}
table.members tr .detail {
    display: none;
}
table.members tr.collapsed .detail {
    display: none ! important;
}
#symbol table.members tr .detail h2 {
    font-size: 1.1em;
    margin-bottom: 0;
    color: #444;
}
#symbol table.members tr .detail h3 {
    font-size: 1.0em;
    margin-bottom: 0;
    margin-left: 1em;
    color: #444;
}
#symbol table.members tr .detail h3::after {
    content: ':';
}

table.members tr .detail ul,
table.members tr .detail ol {
    margin-top: 0.5em;
    padding-left: 2em;
    color: #444;
}
table.members tr:target .detail,
table.members tr.expanded .detail {
    display: block;
}
table.members tr:target span.detail,
table.members tr.expanded span.detail {
    display: inline;
}
table.members .member_detail li {
    margin-bottom: 1em;
}
table.members .member_detail .optional {
    font-style: italic;
    color: #777;
    font-size: 0.8em;
    margin-left: 1em;
}
table.members .member_detail .type {
    margin-bottom: 0.25em;
}
table.members .member_detail .param_name {
    font-weight: bold;
}
table.members .expander {
    width: 2em;
    padding: 0;
    position: relative;
}
table.members .expander a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-left: 5em;
    background-color: rgba(0, 0, 0, 0.05);
    background-image: url(/assets/jsdoc/icons/arrow_state_blue_right.png);
    background-position: center .4em;
    background-repeat: no-repeat;
    border-right: 1px solid #D9D9D9;
}
table.members .expander a:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
table.members tr:target .expander a,
table.members tr.expanded .expander a {
    background-image: url(/assets/jsdoc/icons/arrow_state_blue_expanded.png);
}
table.members tr.collapsed .expander a {
    background-image: url(/assets/jsdoc/icons/arrow_state_blue_right.png) ! important;
}

.toolbar li.properties > a,
.toolbar li.methods > a {
    position: relative;
    z-index: 1000;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-bottom: none;
    padding-bottom: 5px;
}

.toolbar li.properties > a::before,
.toolbar li.methods > a::before {
    content: '';
    display: block;
    float: left;
    width: 20px;
    height: 14px;
    margin-left: -2px;
    background-position: 0 center;
    background-repeat: no-repeat;
}

.toolbar li.properties > a::before {
    background-image: url(/assets/jsdoc/icons/prop.gif);
}
.toolbar li.methods > a::before {
    background-image: url(/assets/jsdoc/icons/method.gif);
}

#source pre {
    margin: 0;
    font-family: "Menlo", "Lucida Console", "Courier New", Courier, monospace;
    font-size: 1.1em;
}
